{{#extend "stylesheets"}}
<style>
#footer {
  background: url("https://www.australia.com/content/australia/en_us/facts-and-planning/useful-tips/visa-customs-and-quarantine-faq/jcr:content/hero/desktop.adapt.1920.high.jpg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
  font-family: 'Sriracha', cursive;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#footer .container {
  position: relative;
}

#footer h2 {
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

.nav-element-one {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-size: 50px;
  text-shadow: 2px 2px #807E74;
  color: #fff;
  display: flex; 
  flex-direction: row;
  font-size: 50px;
  font-weight: 900;
}

.nav-element-one:before, .nav-element-one:after { 
  content: " "; 
  flex: 1 1; 
  border-bottom: 2.5px solid; 
  margin: 35px;
}

</style>
{{/extend}}

<footer id="footer">
    <div class="container">
        <h1 class="nav-element-one">GROUP 7</h1>
        <h2>Baguio ☆ Gochangco ☆ See</h2>
    </div>
</footer>